.statistics {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &[data-has-icon="true"] {
    padding-left: 0;
    list-style: none;

    & > li {
      list-style: none;

      & > * {
        vertical-align: middle;
      }
    }
  }
}

.achievements {
  display: flex;
  flex-direction: column;
}

.objectives {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
