.root {
  --height: 400px;
  position: relative;

  & > button {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%) translateY(-7px);
    border: none;
    background: none;
    color: #eab11e;
    font-size: 14px;
    font-style: italic;

    &:hover {
      text-decoration: underline;
    }
  }
}

.wrapper {
  &:not(.expanded) {
    height: var(--height);
    overflow-y: scroll;
    overflow-x: auto;
  }
}
