.objectives {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.view {
  position: relative;

  &.expanded > :nth-child(2) {
    .recipe {
      width: 45px;
    }
  }

  &:not(.expanded) > :nth-child(2) {
    height: 400px;
    overflow: auto;
  }

  & > button {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%) translateY(-7px);
    border: none;
    background: none;
    color: #eab11e;
    font-size: 14px;
    font-style: italic;

    &:hover {
      text-decoration: underline;
    }
  }
}

.recipes {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.recipe {
  box-sizing: border-box;
  width: 43px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-10deg, #553b1d, #42290c);
  border: 2px solid #664724;
  border-radius: 8px;

  &.locked {
    opacity: 0.4;
    border-width: 3px;
    border-style: dashed;
  }

  img {
    object-fit: contain;
  }
}

.achievements {
  display: flex;
  flex-direction: column;
}
