@use "@src/style/base/mixin" as mixin;

.farmer {
  width: 460px;
  display: flex;
  flex-direction: column;

  & > :nth-child(2),
  & > :nth-child(3) {
    margin-bottom: 5px;
  }
  & > :nth-child(4) {
    margin-bottom: 15px;
  }
}

.view {
  position: relative;

  &.expanded > :nth-child(2) {
    .fishes {
      grid-template-columns: repeat(7, 40px);
    }
  }

  &:not(.expanded) > :nth-child(2) {
    height: 400px;
    overflow: auto;
  }

  & > button {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%) translateY(-7px);
    border: none;
    background: none;
    color: #eab11e;
    font-size: 14px;
    font-style: italic;

    &:hover {
      text-decoration: underline;
    }
  }
}

.categories {
  padding-right: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.category {
  --background: url("");

  position: relative;
  padding: 10px 10px 10px 20px;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 10px;
  background: rgba(#36515c, 0.3);
  border-radius: 10px;
  z-index: 0;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background-image: var(--background);
    background-size: cover;
    filter: blur(2px);
    border-radius: inherit;
    z-index: -1;
  }

  &.compact {
    grid-template-columns: 95px 1fr;
    gap: 0;
    padding: 5px 5px 5px 20px;
    font-size: 14px;

    & h1 {
      font-size: 16px;
    }
  }

  & h1 {
    margin: 0;
    margin-top: 6px;
    font-family: "Stardew Valley";
    font-size: 22px;
  }
}

.counts {
  margin-right: 30px;
  font-family: "Stardew Valley";
  color: #dfb910;
  white-space: nowrap;

  &.done {
    color: #13d129;
  }
}

.fishes {
  display: grid;
  grid-template-columns: repeat(6, 40px);
  align-items: center;
  gap: 8px;

  &.compact {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    .fish {
      margin-left: -9px;
    }
  }
}

.objective {
  margin-top: 10px;
}
