.farmers {
  display: flex;
  gap: 50px;
}

.farmer {
  width: 460px;
  display: flex;
  flex-direction: column;

  & > :nth-child(2),
  & > :nth-child(3) {
    margin-bottom: 5px;
  }
  & > :nth-child(4) {
    margin-bottom: 15px;
  }
}

.compactBtn {
  margin-left: auto;
  margin-bottom: 5px;
  border: none;
  background: none;
  color: #b9af9b;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}

.categories {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .category {
    --background: url("");

    position: relative;
    padding: 10px 10px 10px 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 120px 1fr;
    background: rgba(#36515c, 0.3);
    border-radius: 10px;
    z-index: 0;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.15;
      background-image: var(--background);
      background-size: cover;
      filter: blur(2px);
      border-radius: inherit;
      z-index: -1;
    }

    & h1 {
      margin: 0;
      margin-top: 6px;
      font-family: "Stardew Valley";
      font-size: 22px;
    }
  }
}

.counts {
  margin-right: 30px;
  font-family: "Stardew Valley";
  color: #dfb910;
  white-space: nowrap;

  &.done {
    color: #13d129;
  }
}

.fishes {
  display: grid;
  grid-template-columns: repeat(6, 40px);
  align-items: center;
  gap: 10px;

  &.compact {
    display: flex;
    flex-wrap: wrap;

    .fish {
      margin-left: -20px;
    }
  }

  .fish {
    display: flex;
    opacity: 0.3;
    filter: grayscale(1);

    &:hover {
      filter: none;
      opacity: 1;
    }

    &.caught {
      $color: #9e9e9e;
      $width: 2px;
      opacity: 1;
      filter: drop-shadow(0px -2px 0px $color) drop-shadow(0px 2px 0px $color)
        drop-shadow(2px 0px 0px $color) drop-shadow(-2px 0px 0px $color);
    }
  }
}

.objective {
  margin-top: 10px;
}
