@use "src/style/base/breakpoints" as *;

.fileUpload {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ffe300;
  border-radius: 20px;
  font-family: "Stardew Valley";
  font-size: 30px;
  color: #fff28f;
  cursor: not-allowed;
}

.or {
  display: block;
  margin: 20px auto;
  font-family: "Stardew Valley";
  font-size: 50px;
  text-align: center;
}

.info {
  display: block;
  margin: 20px auto;
  font-family: "Stardew Valley";
  font-size: 30px;
  text-align: center;
}

.demoSaves {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  & > button {
    background: none;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f5c47c;
    border-radius: 10px;
    font-family: "Stardew Valley";
    font-size: 30px;
    color: #f5c47c;
  }
}

.loader {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px auto;

  & > img {
    animation: spin 10s linear infinite;

    @keyframes spin {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  & > span {
    font-family: "Stardew Valley";
    font-size: 30px;
    color: #f5c47c;
  }
}
