.section {
  display: flex;
  flex-direction: column;
}

.money {
  $fontSize: 30px;
  $accent: #997033;

  width: fit-content;
  margin: 10px 0;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(9, $fontSize);
  background: darken($color: $accent, $amount: 15);
  border: 3px solid $accent;
  color: lighten($color: $accent, $amount: 35);
  border-radius: 8px;
  box-shadow: inset -2px 2px 0px 0px rgba(#000, 0.25),
    inset 2px -2px 0px 0px rgba(#000, 0.25);

  .currency {
    font-size: $fontSize;
    margin-left: 10px;
  }

  .digit {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 4px solid $accent;
    outline-offset: -2px;
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: $fontSize;
    box-shadow: inset -4px 4px 0px 0px rgba(#000, 0.125),
      inset 2px -2px 0px 0px rgba(#000, 0.25);
  }
}

.amountLeft {
  opacity: 0.5;
}
