.content {
  display: flex;
  gap: 14px;
}

.farmType {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.column {
  flex-shrink: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &.farmer {
    // width: 300px;
    width: fit-content;
  }

  & > h1 {
    margin: 0;
    font-family: "Stardew Valley";
    font-size: 28px;
    color: #f9b446;
  }

  & > span,
  li > div {
    display: inline;

    & > img {
      vertical-align: middle;
    }
  }

  .gameVersion {
    height: 19px;
    padding: 0 6px;
    background: #f9b446;
    border-radius: 5px;
    outline: 2px solid #5a421c;
    font-weight: 600;
    color: #5a421c;
  }
}

.divider {
  height: 90px;
  margin: 10px 20px 0 20px;
  min-width: 1px;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(#fff, 0.1) 40%,
    rgba(#fff, 0.1) 60%,
    transparent 100%
  );
}
