.stardropList {
  width: 500px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .stardrop {
    position: relative;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: linear-gradient(to right, #1f1925, rgba(#1f1925, 0.1));
    border-radius: 10px;
    color: #9d72c9;

    &.gathered {
      color: #ac5afd;
    }

    &:hover:not(.gathered) {
      opacity: 0.6;
      filter: none;
      // outline: 2px solid #fff;
    }

    .stardropIcon {
      padding: 4px;
      display: flex;
    }

    .description {
      line-height: 20px;

      a {
        color: unset;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
