.farmers {
  --farmerCount: 0;
  display: grid;
  grid-template-columns: repeat(var(--farmerCount), 1fr);
  gap: 50px;
}

.starfruitList {
  margin: 20px -4px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .starfruit {
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: 0.5;

    &.gathered {
      opacity: 1;
      color: #ac5afd;
    }

    .description {
      line-height: 20px;

      a {
        color: unset;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
