@use "breakpoints";

#root {
  min-height: 100vh;
  color: #d4ccbc;
  background-color: #060216;
  overflow-x: auto;

  main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    header {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      font-family: "Stardew Valley";
      font-size: 16px;
      color: #ceb07e;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background-image: url("@src/assets/header-bg.png");
        background-repeat: repeat-x;
        mask-image: linear-gradient(to bottom, #fff, rgba(#fff, 0));
        z-index: -1;
        pointer-events: none;
      }
    }

    #content {
      margin: 0 auto;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 80px;
      max-width: 1100px;

      @include breakpoints.breakpointLarge() {
        max-width: 800px;
      }

      @include breakpoints.breakpointMedium() {
        padding: 0 40px;
        max-width: 600px;
      }
    }

    hr {
      width: 20vw;
      margin: 0;
      border: none;
      border-bottom: 1px solid #17161a;
    }
  }

  footer {
    position: relative;
    margin-top: 6rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: "Stardew Valley";
    font-size: 18px;
    text-shadow: #060216 0 0 2px;
    color: #97ff89;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 400px;
      background-image: url("@src/assets/footer-bg.png");
      background-repeat: repeat-x;
      background-position: bottom;
      background-size: contain;
      mask-image: linear-gradient(to top, #fff, rgba(#fff, 0));
      z-index: -1;
      pointer-events: none;
      opacity: 0.5;
    }

    .site-version {
      margin-left: auto;
      margin-top: 8px;
    }
  }
}

.disclaimers {
  margin: -20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.disclaimer {
  padding: 10px 15px;
  display: flex;
  gap: 20px;
  background: #161616;
  border-radius: 10px;
  border: 2px solid #3f3f3f;

  img {
    margin-top: 5px;
  }

  p {
    margin: 0;
    font-family: "Stardew Valley";
    font-size: 20px;
    line-height: 20px;
    color: #a7abaf;
    white-space: pre-wrap;

    a {
      color: #ceb07e;
      // font-size: 24px;
      font-weight: 600;
    }

    .heart {
      color: rgb(238, 112, 96);
    }
  }
}

.twoSections {
  display: flex;
  gap: 80px;
}

img {
  image-rendering: pixelated;
}

a {
  color: unset;
  text-decoration: unset;

  &:hover {
    text-decoration: underline;
  }
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 25px;
  list-style-image: url("@src/assets/icon/list-bullet.png");

  & li {
    padding: 0;

    &::marker {
      font-size: 18px;
    }
  }
}
