#root {
  min-height: 100vh;
  background: #060216;
  color: #d4ccbc;

  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 80px;

    & > :first-child {
      margin: 0 auto;
    }

    hr {
      width: 20vw;
      margin: 0;
      border: none;
      border-bottom: 1px solid #2c1d0c;
    }
  }
}

img {
  image-rendering: pixelated;
}

a {
  color: unset;
  text-decoration: unset;

  &:hover {
    text-decoration: underline;
  }
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 25px;
  list-style-image: url(./src/assets/icon/list-bullet.png);

  & li {
    padding: 0;

    &::marker {
      font-size: 18px;
    }
  }
}
