@use "breakpoints";

#root {
  min-height: 100vh;
  color: #d4ccbc;
  background-color: #060216;
  overflow-x: auto;

  main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    header {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      font-family: "Stardew Valley";
      font-size: 16px;
      color: #ceb07e;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background-image: url("@src/assets/background.png");
        background-repeat: repeat-x;
        mask-image: linear-gradient(to bottom, #fff, rgba(#fff, 0));
        z-index: -1;
      }
    }

    #content {
      margin: 0 auto;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 80px;
      max-width: 1100px;

      @include breakpoints.breakpointLarge() {
        max-width: 800px;
      }

      @include breakpoints.breakpointMedium() {
        padding: 0 40px;
        max-width: 600px;
      }
    }

    hr {
      width: 20vw;
      margin: 0;
      border: none;
      border-bottom: 1px solid #17161a;
    }
  }
}

img {
  image-rendering: pixelated;
}

a {
  color: unset;
  text-decoration: unset;

  &:hover {
    text-decoration: underline;
  }
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 25px;
  list-style-image: url("@src/assets/icon/list-bullet.png");

  & li {
    padding: 0;

    &::marker {
      font-size: 18px;
    }
  }
}
