@use "/frontend/style/base/mixin" as mixin;

.board {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;

  img {
    object-fit: contain;

    &:hover {
      @include mixin.shadowOutline(2);

      &.incomplete {
        @include mixin.shadowOutline(2);
        opacity: 1;
      }
    }

    &.incomplete {
      filter: saturate(0) brightness(0.8);
      opacity: 0.25;
    }
  }

  .orders {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
  }
}
