.tooltipContent {
  padding: 10px;
  background: #f5b565;
  color: #2e1304;
  font-family: "Stardew Valley";
  font-size: 20px;
  animation: fadeIn 100ms linear;
  border-radius: 4px;
  box-shadow:
    0 0 0 2px #b14e05,
    0 0 0 4px #fa9305,
    0 0 0 6px #853605,
    -8px 8px 0 6px rgba(#000, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    translate: 0 -10px;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}
