.objectives {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.recipesScrollbox {
  margin: 10px 0;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  &.expanded {
    .recipe {
      width: 45px;
    }
  }
}

.recipe {
  box-sizing: border-box;
  width: 43px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-10deg, #553b1d, #42290c);
  border: 2px solid #664724;
  border-radius: 8px;

  &.locked {
    border-width: 3px;
    border-style: dashed;

    &:not(:hover) {
      opacity: 0.4;
    }
  }

  &.notCrafted {
    &:not(:hover) {
      opacity: 0.85;
      filter: saturate(0.55);
    }
  }

  img {
    object-fit: contain;
  }
}

.achievements {
  display: flex;
  flex-direction: column;
}
