.container {
  padding: 2px 0;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto 1fr;
  gap: 8px;

  & a {
    color: unset;
    font-style: italic;
  }
}

.icon {
  &.unachieved {
    filter: brightness(0.5);
    opacity: 0.2;
  }
}

.text {
  display: inline-flex;
  gap: 4px;
  line-height: 20px;

  &.unachieved {
    filter: brightness(0.5);
    opacity: 0.75;
  }

  & > * {
    vertical-align: middle;
  }
}
