.row {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  overflow-x: auto;

  &[data-has-scrollbars="true"] {
    padding-bottom: 28px;
  }

  & > * {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
  }
}
