@use "@src/style/base/mixin" as mixin;

.wrapper {
  position: relative;
  display: flex;

  &:hover {
    .objective {
      opacity: 1;
      @include mixin.shadowOutline(2, #fff);
    }
    .checkmark {
      opacity: 0;
    }
  }
}

.objective {
  opacity: 0.3;

  &.done {
    opacity: 1;
    
    &:not(.noOutline) {
      @include mixin.shadowOutline(1, #aaaaaa);
    }
  }
}

.checkmark {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;

  @include mixin.shadowOutline(1, #060216);
}
