.section {
  display: flex;
  flex-direction: column;
  scroll-margin-top: 50px;

  &:hover > h1 > a {
    opacity: 1;
  }

  .wrapper {
    &.open {
      height: 100px;
      overflow: hidden;
      mask-image: linear-gradient(to bottom, #fff, rgba(#fff, 0));
    }
  }

  & > h1 {
    position: relative;
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;

    & > a {
      // margin-left: -25px;
      padding: 0 10px;
      position: absolute;
      left: 0;
      transform: translateX(-100%);
      opacity: 0;
      color: #ceba97;

      &:hover {
        opacity: 1;
      }
    }

    & > button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border: 1px solid #d4ccbc;
      border-radius: 5px;
      background: none;

      &.open {
        transform: rotate(90deg);
      }
    }
  }
}

.versions {
  vertical-align: baseline;
  display: flex;
  align-items: center;
  gap: 5px;

  & > * {
    padding: 2px 6px;
    background: linear-gradient(to right, #aa9267, #ceba97);
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    border-radius: 5px;
  }
}
