$collapsedHeight: 150px;

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 50px;

  &:hover > h1 > a {
    opacity: 1;
  }

  .wrapper {
    &.expanded {
      height: 100px;
      overflow: hidden;
      mask-image: linear-gradient(to bottom, #fff, rgba(#fff, 0));
    }

    &.spoiler {
      min-height: $collapsedHeight;
    }
  }

  & > h1 {
    position: relative;
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;

    &.allDone {
      // color: #4fca1c;
      color: #a9ff85;

      & > img {
        margin-left: -8px;
      }
    }

    & > a {
      padding: 0 10px;
      position: absolute;
      left: 0;
      transform: translateX(-100%);
      opacity: 0;
      color: #ceba97;

      &:hover {
        opacity: 1;
      }
    }

    @mixin button() {
      flex: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border: 1px solid #d4ccbc;
      border-radius: 5px;
      background: none;
    }

    .spoilerBtn {
      @include button();
    }

    .collapseBtn {
      @include button();

      &.expanded {
        transform: rotate(90deg);
      }
    }
  }
}

.versions {
  vertical-align: baseline;
  display: flex;
  align-items: center;
  gap: 5px;

  & > * {
    padding: 2px 6px;
    background: linear-gradient(to right, #aa9267, #ceba97);
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    border-radius: 5px;

    &.spoiler {
      background: linear-gradient(to right, #d79b3f, #cf891f);
    }
  }
}

.spoilerOverlay {
  --wrapperWidth: 0px;
  --wrapperHeight: 0px;

  position: absolute;
  content: "";
  padding: 20px 0;
  top: 40px;
  width: var(--wrapperWidth);
  height: calc(max(var(--wrapperHeight), $collapsedHeight) + 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(#3d3d3d, 0.3);
  // background: radial-gradient(
  //   ellipse at center,
  //   rgba(#ff9900, 0.5),
  //   rgba(#1f1609, 0.1)
  // );
  // background: rgba(#f7b85a, 0.05);
  background: linear-gradient(
    to right bottom,
    rgba(#ff9900, 0.3),
    rgba(#1f1609, 0.1)
  );
  border-radius: 15px;
  backdrop-filter: blur(30px);
  font-family: "Stardew Valley";
  font-size: 50px;
  transition: backdrop-filter 180ms linear;

  &:hover {
    backdrop-filter: blur(15px);
  }

  &:not(.expanded) {
    padding: 5px 0;
    font-size: 30px;
  }

  & > h1 {
    margin: 0;
    color: #ffe6bf;
  }

  & > button {
    $color: #804e04;

    padding: 10px 20px;
    background: linear-gradient(180deg, #e5c087, #d3a155);
    border: 4px solid $color;
    border-radius: 10px;
    color: $color;
    font-size: 25px;
  }
}
