.objectives {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.monsters {
  margin: 20px 0;
}

.achievements {
  display: flex;
  flex-direction: column;
}

.objective {
  margin-top: 10px;
}
