.objectives {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shippedItemsScrollbox {
  margin: 10px 0;
}

.shippedItems {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  border-radius: 6px;

  background: url("/src/assets/sprite/shipping/item-background.png");
  background-size: 32px;

  &:not(.expanded) {
    margin-right: 16px;
  }

  .bin {
    grid-row: span 3;
    grid-column: span 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/src/assets/sprite/shipping/bin-open.png");
    background-size: 100% 100%;
    image-rendering: pixelated;
    font-size: 45px;
    font-family: "Stardew Valley";
    color: rgb(217, 255, 128);
    text-shadow: 4px 4px #060216, 0 0 4px #060216, 0 0 10px #1c1050;
  }
}

.shippedItem {
  aspect-ratio: 1;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#7a5757, 0.5);
  border-radius: 4px;

  &.notShipped {
    background: rgba(#5f4848, 0.2) !important;
  }
}
