::-webkit-scrollbar {
  width: 15px;
  height: 15px;

  // &-corner {
  //   // background: $track;
  //   border-end-end-radius: 50%;
  // }

  &-track {
    background: rgb(19, 13, 41);
    border-radius: 5px;
  }

  &-thumb {
    background: linear-gradient(to right, #fccc52, #e0a100);
    border-radius: 5px;
  }
}

body::-webkit-scrollbar {
  &-track {
    border-radius: unset;
  }
}
