.objectives {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shippedItemsScrollbox {
  margin: 10px 0;
}

.shippedItems {
  // padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 6px;

  &:not(.expanded) {
    margin-right: 16px;
  }
}

.shippedItem {
  padding: 10px 12px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 5px 10px;
  background: rgba(#7a5757, 0.25);
  border-radius: 10px;

  background: url("/src/assets/sprite/shipping/item-background.png");
  background-size: 32px;

  &[data-done="true"] {
    // border: 1px solid #637e58;
  }

  & > :nth-child(1) {
    grid-row: 1 / span 2;
  }

  .progress {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 2px;

    & > * {
      flex-grow: 1;
      height: 16px;
      background: #be7a14;
      border: 2px solid #5e4520;
      opacity: 0.2;
      border-radius: 5px;
      box-shadow: inset -2px 2px 0px 0px rgba(255, 255, 255, 0.25),
        inset 2px -2px 0px 0px rgba(0, 0, 0, 0.25);
    }

    & > [data-filled] {
      opacity: 1;
    }
  }

  & > :nth-child(3) {
    font-family: "Stardew Valley";
    font-size: 20px;
    color: #d4ccbc;

    & > em {
      font-style: normal;
      color: #ceb38b;
    }
  }
}
